.emblaSlide {
    position: relative;
    flex: 0 0 100%;
    display: block;
    margin-right: 25px;
    margin-left: 25px;
    align-self: stretch;
    flex-direction: row;
    max-width: 380px;
    min-width: 20vw;
}

.card {
    padding: 32px;
    position: relative;
    width: 100%;
}

.cardPhotoWrapper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 100%;
}

.cardPhotoBg {
    position: absolute;
    left: 0;
    top: 6px;
    right: 0;
    bottom: 5px;
    background-image: linear-gradient(220deg, #2b6aff, #ff80ed);
}

.cardPhoto {
    transform: translate3d(8px, -3px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 8px;
    background-color: var(--color-text-lighter);
    border: 2px solid var(--color-text-dark);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

/*  TODO make image transform on mousedown*/
/*.cardPhoto:active:hover {*/
/*    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);*/
/*    transform-style: preserve-3d;*/
/*    -webkit-transition: -webkit-transform .4s cubic-bezier(.165, .84, .44, 1);*/
/*    transition: transform .2s cubic-bezier(.165, .84, .44, 1);*/
/*    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);*/

/*}*/

.cardShapeWrapper {
    position: absolute;
    left: -8%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 116%;
}

.cardImage {
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 3% !important;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

.cardTextWrapper {
    color: var(--color-text-lighter);
}

.cardTitle {
    font-size: var(--font-size-lower-title);
    margin-bottom: 14px;
}

.cardDescription {
    font-size: var(--font-size-paragraph);
    line-height: 1.2;
}

@media only screen and (max-width: 1000px) {
    .cardPhoto {
        transform: translate3d(8px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;
    }
}

@media only screen and (max-width: 500px) {
    .emblaSlide {
        min-width: 100vw;
    }
}