.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-mobile);
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
    z-index: 20;

}

.navigation {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.microcopy {
    color: var(--color-text-darkest)
}

.logoDesktop {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nametagDesktop {
    font-weight: 700;
    font-size: 25px;
    margin-left: 18px;
    color: var(--color-text-darkest);

}

.btnContainer {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-darkest);
}

.button {
    border-radius: var(--border-radius-button);
    padding: 12px 50px;
    margin-right: 25px;
    margin-left: 25px;
}

@media only screen and (max-width: 1000px) {
    .button {
        padding: 12px 20px
    }

    .container {

        padding: var(--padding-mobile);
    }

}

.button:hover {
    background-color: var(--color-button-dark);
    cursor: pointer;
    color: var(--color-text-lighter);
}

.external {
    background-color: var(--color-button-dark);
    border-radius: var(--border-radius-button);
    color: var(--color-text-lighter);
    padding: 12px 50px;
    margin-left: 12px;
    cursor: pointer;
    /*text-transform: uppercase;*/
}

.external:hover {
    background-color: var(--color-button-vibrant);
    color: var(--color-text-darkest);
}

.logoMobile {
    display: flex;
    align-items: unset;
}

.nametagMobile {
    font-weight: 700;
    font-size: 25px;
    margin-left: 18px;
    color: var(--color-text-darkest);
}

.menuIcon {
    display: flex;
    align-self: baseline;
    justify-content: flex-end;
    font-size: 35px;
    color: var(--color-text-darkest);
}

.menuIconExpand {
    display: flex;
    align-self: baseline;
    justify-content: flex-end;
    font-size: 35px;
    color: var(--color-text-lighter);
}

.navMobile {
    background-color: var(--color-button-dark);
    color: var(--color-text-lighter);
    z-index: 25;
    height: 113vh;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
}

.navMobileList {
    width: 100%;
    font-size: var(--font-size-lower-title);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 70px;
    color: var(--color-text-lighter);
}

.navMobileList > li {
    margin-right: 28px;
    margin-bottom: 30px;
    font-size: var(--font-size-upper-title);
    font-weight: var(--font-weight-upper-title);
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}

.nametagWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nametagMobileExpand {
    color: var(--color-text-lighter);
    font-weight: 700;
    font-size: 25px;
    margin-left: 18px;
}

.noiseOverlay {
    background-image: url("../public/images/noise-transparent-intense.png");
    position: absolute;
    background-position: 0 0;
    background-size: 250px;
    opacity: .65;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    z-index: 26;
    pointer-events: none;
}

.logoMobileExpand {
}