.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-mobile);
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
    z-index: 20;

}

.navigation {
    height: 100%;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttonWrapper {
    border-radius: var(--border-radius-button);
    box-shadow: inset 0 0 0 2px var(--color-button-bright);
    margin-top: 28px;
    margin-bottom: 28px;
    min-width: 255px;
}

.buttonContent {
    background-color: var(--color-button-bright);
    border-radius: var(--border-radius-button);
    padding: 12px 50px;
    color: var(--color-text-darkest);
    align-self: center;
    justify-content: space-between;
    position: relative;
    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    font-size: var(--font-size-paragraph);
    display: flex;
    align-items: center;

    webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.buttonContent:active:hover {
    -webkit-transform: translate(0px, -0px);
    -ms-transform: translate(0px, -0px);
    transform: translate(0px, -0px);

    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.buttonContent > svg {
    margin-left: 20px;
    font-size: 3rem;
}

.microcopy {
    color: var(--color-text-darkest);
    margin-right: 12px;
}

.logoDesktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nametagDesktop {
    font-weight: 600;
    font-size: 25px;
    margin-left: 18px;
    color: var(--color-text-darkest);

}

.btnContainer {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-darkest);
}

.btnWrapper {
    margin-right: 25px;
    margin-left: 25px;
}

.button {
    border-radius: var(--border-radius-button);
    padding: 12px 50px;
    background-color: var(--color-button-dark);
    color: var(--color-text-lighter);

    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

@media only screen and (max-width: 1000px) {
    .button {
        padding: 12px 20px
    }

    .container {

        padding: var(--padding-mobile);
    }

}

.button:hover {
    background-color: var(--color-button-dark);
    color: var(--color-text-lighter);

    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);

    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.button:active:hover {
    -webkit-transform: translate(0px, -0px);
    -ms-transform: translate(0px, -0px);
    transform: translate(0px, -0px);
}

.btnWrapper {
    border-radius: var(--border-radius-button);
    box-shadow: inset 0 0 0 2px var(--color-button-dark);
}

.externalWrapper {
    border-radius: var(--border-radius-button);
    box-shadow: inset 0 0 0 2px var(--color-button-dark);
    width: max-content;
}

.external {
    background-color: var(--color-button-dark);
    text-align: center;
    border-radius: var(--border-radius-button);
    color: var(--color-text-lighter);
    padding: 12px 50px;
    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.external:active:hover {
    -webkit-transform: translate(0px, -0px);
    -ms-transform: translate(0px, -0px);
    transform: translate(0px, -0px);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.logoMobile {
    display: flex;
    align-items: unset;
}

.nametagMobile {
    font-weight: 600;
    padding-top: 4px;
    font-size: 25px;
    margin-left: 18px;
    color: var(--color-text-darkest);
}

.noiseOverlay {
    background-image: url("../public/images/noise-transparent-intense.png");
    position: absolute;
    background-position: 0 0;
    background-size: 250px;
    opacity: .65;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    z-index: 26;
    pointer-events: none;
}

.menuIcon {
    display: flex;
    align-self: baseline;
    justify-content: flex-end;
    font-size: 45px;
    color: var(--color-text-darkest);
}

.menuIconExpand {
    display: flex;
    align-self: baseline;
    justify-content: flex-end;
    font-size: 45px;
    color: var(--color-text-lighter);
}

.navMobile {
    background-color: var(--color-button-dark);
    color: var(--color-text-lighter);
    z-index: 25;
    height: 113vh;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
}

.navMobileList {
    width: 100%;
    font-size: var(--font-size-lower-title);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    color: var(--color-text-lighter);
}

.navMobileList > li {
    margin-bottom: 48px;
    font-size: 5rem;
    font-weight: var(--font-weight-upper-title);
}

.socialsContainer {
    font-size: 4rem;
    margin-top: 28px;
}

.socialsContainer > svg {
    margin: 16px;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}

.nametagWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nametagMobileExpand {
    color: var(--color-text-lighter);
    font-weight: 600;
    padding-top: 4px;
    font-size: 25px;
    margin-left: 18px;
}

.noiseOverlay {
    background-image: url("../public/images/noise-transparent-intense.png");
    position: absolute;
    background-position: 0 0;
    background-size: 250px;
    opacity: .65;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    z-index: 26;
    pointer-events: none;
}

.logoMobileExpand {
}