.container {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-background-light);
    z-index: 0;
    /*overflow: hidden;*/
}

.noise {
    background-image: url("../public/images/noise-transparent-intense.png");
    position: absolute;
    background-position: 0 0;
    background-size: 250px;
    opacity: .65;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 800vh;
    width: 100%;
    background-repeat: repeat;
    z-index: 2;
    pointer-events: none;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}





