.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--padding-desktop);
    z-index: 10;
    min-height: 90vh;
    height: 100%;
}

.preTitle {
    font-size: var(--font-size-microcopy);
    color: var(--color-accent-two);
    font-family: var(--font-family-two);
    align-self: flex-start;
    padding-left: 10px;
}

.titleHero {
    font-size: var(--font-size-hero-title);
    color: var(--color-text-darkest);
    text-align: left;
    line-height: 1;
    font-weight: bolder;
}

.buttonHero {
    background-color: var(--color-button-vibrant);
    border-radius: var(--border-radius-button);
    padding: 12px 50px;
    margin-left: 25px;
    margin-top: 40px;
    color: var(--color-text-darkest);
    align-self: flex-end;
    position: relative;

}

.buttonHero:hover {
    background-color: var(--color-button-dark);
    color: var(--color-text-lighter);
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .titleHero {
        font-size: var(--font-size-upper-title);
        font-weight: var(--font-weight-upper-title);
    }

    .preTitle {
        padding-left: 0;
    }

    .section {
        padding: 36px 28px 28px;
    }

    .buttonHero {
        padding: 12px 50px;
        margin: 60px 0 0;
        position: relative;
        align-self: center;
        bottom: 0;
        right: 0;
    }
}
