.section {
    background-color: var(--color-background-darkest);
    color: var(--color-text-lighter);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-desktop);
    overflow: hidden;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 26;
    margin-bottom: 36px;

}

.title {
    font-size: var(--font-size-upper-title);
    font-weight: var(--font-weight-upper-title);
}

.linkWrapperWrapper {
    border-radius: var(--border-radius-button);
    box-shadow: inset 0 0 0 2px var(--color-button-bright);
}

.linkWrapper {
    background-color: var(--color-button-bright);
    color: var(--color-text-darkest);
    display: flex;
    border-radius: var(--border-radius-button);
    justify-content: space-between;
    align-items: center;
    height: 100%;
    align-self: center;
    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.linkWrapper:active:hover {
    -webkit-transform: translate(0px, -0px);
    -ms-transform: translate(0px, -0px);
    transform: translate(0px, -0px);

    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.link {
    padding: 12px 30px;
}

.icon {
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emblaContainer {
    display: flex;
}

.embla {
    overflow: hidden;
    margin-top: 68px;
    margin-bottom: 48px;
}

.slideBtnWrapper {
    color: var(--color-text-lighter);
    font-size: 60px;
    margin-bottom: 64px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.slideButtons {
    margin: 16px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: inset 0 0 0 2px var(--color-button-bright);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.slideButtons > button {
    display: flex;
    z-index: 20;
    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1),
}

.slideButtons > button:hover {
    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
}

.slideButtons > button:active:hover {
    -webkit-transform: translate(0px, -0px);
    -ms-transform: translate(0px, -0px);
    transform: translate(0px, -0px);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
    transition: transform .2s cubic-bezier(.165, .84, .44, 1),
}

@media only screen and (max-width: 800px) {
    .section {
        padding: var(--padding-mobile);
    }

    .titleContainer {
        margin-bottom: 36px;
        margin-top: 36px;
    }

}

@media only screen and (max-width: 500px) {
    .titleContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        margin-bottom: 36px;
    }

    .linkWrapper {
        align-self: flex-start;
    }
}